/*
Background cua trang 
va cac can chinh vi tri tieu de,
co the xoa di
*/

.main section {
  margin: 0;
  height: 100vh;   
}
.main section:nth-child(1) {
  background-color: #E91E63;
}
.main section:nth-child(2) {
  background-color: #E91E63;
}
.main section:nth-child(3) {
  background-color: #E91E63;
}
.main section:nth-child(4) {
  background-color: #E91E63;
}
.main section:nth-child(5) {
  background-color: #E91E63;
}
.main section h1 {
  font-size: 38px;
  color: #fff;
  margin: 0;
  padding: 50px 0 20px;
  text-align: center;
}
.realBody{
    font-size: 25px;
    margin: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    grid-column-gap:50px;
}
/*End*/


/*Cac nut bam de chuyen trang*/
#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  list-style: none;
  z-index: 99;
}
#pagination li {
  position: relative;
  margin: 20px 0;
  background: #fff;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transition: all 0.2s ease;
}
#pagination li:hover {
  transform: scale(1.5);
}
#pagination a {
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0;
  color: inherit;
  width: 100%;
  height: 100%;
}
body.page-1 #pagination li:nth-of-type(1), body.page-2 #pagination li:nth-of-type(2), body.page-3 #pagination li:nth-of-type(3), body.page-4 #pagination li:nth-of-type(4), body.page-5 #pagination li:nth-of-type(5) {
width:10px;
height:50px;
border-radius: 20px;   
}
/*End*/



/*Gioi thieu*/
.slider{
 transform:scale(1.02);
    position: absolute;
}
/*
Cac lua chon khac cua slider nam trong slider/JQR3.js
*/
/*The <div> voi class: resize cua trang so 1*/
.resize{
    position: relative;
    width: 1920px;
    height: 891px;
    overflow: hidden;
    margin: auto;
    border: 7px solid blue;
    border-radius: 10px;
}
/*End*/



/*The loai sach*/
/*
- The <div> voi class: resize various cua Cac the loai sach
- The nay co kich thuoc 1920x891px, bao quanh the <options> o ben duoi
*/
.various {
    text-align: left;
    position: relative;
    width: 1920px;
    height: 891px;
    /*---- 
    Chinh sua scale() cua Image Slider(Cac the loai sach)-----*/
    transform: scale(1);
}
/*
 - <options> la the <div> bao quanh tat cac cac the hinh anh, co position la absolute
 - Co the dung top/left de chinh sua vi tri cua <options>, hien tai dang nam trong <div class="resize various>
 - Cac lua chon khac: @media,.... nam trong Vertical/JRQ.css
*/
.options{
  position: absolute;
  top:100px;
  left:150px; 
}
/*End*/



/*Thanh dieu huong tam thoi*/
#navbar{
    position: fixed;
    background: burlywood;
    top:0;
    font-size: 20px;
    padding:20px;
    z-index: 3;
    width:100%;
    height: 15px;
}
/*End*/


