
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-decoration: none; */
  list-style: none;
}

nav a{
  text-decoration: none;
  color: black;
  
}


.logo {
  width: 200px;
  padding-top: 2vh;
  padding-left: 5vh;
}

.search-box {
  padding-left: 0%;
  position: relative;
  margin: 20px;
  width: 250px;
  text-align: right;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
}

.nav-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-box input[type="text"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(30, 30, 30, 0.2);
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-indent: 10px;
}

.search-box input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}

:root {
  --bg-color:#F5E8E0;
  --text-color: #FEFEFE;
  --main-color: #F26F21;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* align-items: center; */
  gap: 3%;
  padding-left: 20%;
  padding-bottom: 0px;
}

.nav-bar a {
  transition: transform 0.1s ease-in-out;
}

.nav-bar a:hover {
  transform: scale(1.05);
  background-color: #F2E5DD;
  color: #333;
  border-radius: 16px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px;
  
}

.ribbon {
      position: fixed;
			top: 2.5%;
			left: 1%;
			/* transform: translate(-50%, -50%); */
      width: 99%;
      height: 110px;
			background-color: #0077FF;
      z-index: 998;
      border-radius: 50px;
}




